
.centered-content
{
    display: flex;
    justify-content: center;
   
    align-items: center;
    height:50%;
    width:70%;
    margin-top: 300px;
    margin-left:200px;
    background: #0095D3;
}
.modal-box{
    height:fit-content;
    /*if parent width is smaller than max width take 100% of parent's width*/
    width:90%;
  
    background: white;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 20px;
    border-radius: 5px;
   
}
.btn{
    height:40px;
    width: 200px;
    margin-top:10px;
    margin-right:10px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: bolder;
    border: 2px solid #0095D3;
}
.btn-add{
   font-size: 15px;
   background-color: #0095D3;
   color: white;
   font-weight: bolder;
   height:40px;
   width: 200px;
   font-size: 20px;
   border: none;
}

.labelstyle{
    font-size: 30px;
    padding:15px;
    font-weight: bolder;
}
.inp{
   margin-bottom: 10px;
   border: none;
  
}

.text{
   padding: 20px;
   font-weight: bolder;

}

.btnContainer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin:15px;
}
