

<div class="centered-content">
    <div class="modal-box">
       
   
    <h1 class="text"> ASSIGN A PROJECT</h1>
    <label><span  class="labelstyle">Project ID</span> </label>
                <input #inp2 />
              
  
                <div class="btnContainer">
                    <button  (click)="assignProject(+(inp2.value))" class="btn-add" >ADD PROJECT</button>
                    <button class="btn" routerLink="/view" >CANCEL</button>
                </div>
     

  
</div>
</div>















